.card-content {
    text-align: center;
    margin: 0 auto;
    position: relative;
    border: 1px solid #fff;
    border-radius: 5px;
    padding: 20px;
    background: #204739;
    width: 90%;
    height: 500px;
    opacity: 1;
}

.card {
    width: 100px;
    height: 150px;
    border: 1px solid #15231F;
    border-radius: 5px;
    margin-left: 20px;
    margin-bottom: 20px;
    background-color: #fff;
    font-size: 50px;
    text-align: center;
    vertical-align: middle;
    box-shadow: 1px 1px #15231F;
    cursor: pointer;
    display: inline-block;
    border:1px solid #ccc;
    transition: 0.5s;
    opacity: 1;
    text-shadow: 2px 2px #15231F;
    color: #204739;
}

.card:hover {
    outline:none;
    border: 1px solid white;
}

.card:after {
    box-shadow: 5px 5px white;
    filter: blur(1px);
}

.clear {
    clear: both;
}

.hide-card {
    opacity: 0;
    pointer-events: none;
}

.hint-effect {
    animation: hint-animation 1s infinite;
}

.hint-effect:after{
    content: '';
    position: absolute;
    left: -2px;
    top: -2px;
    background: linear-gradient(45deg, #388659, #52AA5E, #52AA8A, #3AAED8, #2BD9FE);
    background-size: 400%;
    width: calc(100% + 4px);
    height: calc(100% + 4px);
    z-index: -1;
    animation: steam 20s linear infinite;
    border-radius: 5px;
}

.hint-effect:before {
    border:1px solid white;
    filter: blur(10px);
}

@keyframes steam {
    from {
        background-position: 0 0;
    }
    to {
        background-position: 400% 0;
    }
}

@keyframes hint-animation {
    0% {transform: translateY(0px)}
    10% {transform: translateY(5px)}
    20% {transform: translateY(0px)}
    30% {transform: translateY(5px)}
    40% {transform: translateY(0px)}
    50% {transform: translateY(5px)}
    100% {transform: translateY(0px)}
}

@keyframes card-fade-out {
    0% {opacity: 1;};
    100% {opacity: 0;};
}

@keyframes card-effect-hover {
    from {transform: translateY(0px)};
    to {transform: translateY(3px)};
}

@keyframes card-effect-dismiss {
    0% {transform: translateY(0px);}
    25% {transform: translateY(100px);}
    50% {transform: translateY(-100px);}
    75% {transform: translateY(-1000px);}
}
