.card-content {
    position: relative;
    text-align: center;
    border: 1px solid black;
    border-radius: 5px;
    padding: 20px;
}

.card {
    width: 100px;
    height: 150px;
    border: 1px solid black;
    border-radius: 5px;
    margin-left: 20px;
    margin-bottom: 20px;
    font-size: 35px;
    text-align: center;
    vertical-align: middle;
    box-shadow: 1px 1px black;
    cursor: pointer;
    display: inline-block;
    background: linear-gradient(0deg, #fff, #eee);
    border:1px solid #ccc;
    transition: 0.5s;
}

.card:hover {
    outline:none;
    border-color: #9ecaed;
    box-shadow: 1px 1px  #9ecaed;
}

.card-clicked {
    width: 100px;
    height: 150px;
    border: 1px solid black;
    border-radius: 5px;
    margin-left: 20px;
    margin-bottom: 20px;
    font-size: 35px;
    text-align: center;
    vertical-align: middle;
    box-shadow: 1px 1px black;
    cursor: pointer;
    display: inline-block;
    background: linear-gradient(0deg, #fff, #eee);
    border:1px solid #ccc;
    transition: 0.5s;
    position: relative;
}
.card-clicked:after {
    content: '';
    position: absolute;
    left: -2px;
    top: -2px;
    background: linear-gradient(45deg, #fb0094, #0000ff, #00ff00,#ffff00, #ff0000, #fb0094, 
        #0000ff, #00ff00,#ffff00, #ff0000);
    background-size: 400%;
    width: calc(100% + 4px);
    height: calc(100% + 4px);
    z-index: -1;
    animation: steam 20s linear infinite;
    border-radius: 10px;
}
.card-clicked:after {
    filter: blur(10px);
}


@keyframes steam {
    from {
        background-position: 0 0;
    }
    to {
        background-position: 400% 0;
    }
}

.clear {
    clear: both;
}

.hide-card {
    opacity: 0;
    pointer-events: none;
}

.hint-effect {
    animation: hint-animation 1s infinite;
}

@keyframes hint-animation {
    0% {transform: translateY(0px)}
    10% {transform: translateY(5px)}
    20% {transform: translateY(0px)}
    30% {transform: translateY(5px)}
    40% {transform: translateY(0px)}
    50% {transform: translateY(5px)}
    100% {transform: translateY(0px)}
}

@keyframes card-fade-out {
    0% {opacity: 1;};
    100% {opacity: 0;};
}

@keyframes card-effect-hover {
    from {transform: translateY(0px)};
    to {transform: translateY(3px)};
}

@keyframes card-effect-dismiss {
    0% {transform: translateY(0px);}
    25% {transform: translateY(100px);}
    50% {transform: translateY(-100px);}
    75% {transform: translateY(-1000px);}
}
